.body{
    background-image: url(../../img/Bgo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    width: 100%;

}
.headerSpace{
    margin-top:5%;
}