.DestinationOne{
    margin-top:5%;
    border-top: 1px solid gray;
    
}
.Destination{
    margin-top: 10%;
    
}
.map iframe{
    width:700px;
     height:600px;
}
.pickupbtn{
    padding: 10px 94px;
    border: none;
    background-color : #ff5200;
    color:white;
    border-radius:4px;

}

.location{
    background-color:#ff5200;
}